<!doctype html>
<html>

<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{description}}" />
  <meta name="keywords" content="">

  <!-- Facebook -->
  <meta property="og:title" content="{{title}}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://emilynguyen.co/">
  <meta property="og:description" content="{{description}}">

  <!-- Google Analytics -->

  <!-- Favicons -->

  <!-- main.css -->
  <link href="/css/main.css" rel="stylesheet" type="text/css">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- jQuery local fallback -->
  <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='js/jquery-3.3.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
  </script>

  <title>{{title}}</title>
</head>

<body>
  {{{body}}}

  <!-- main.js -->
  <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>
